ion-content {
  ion-grid {
    margin-top: 5.5rem;
  }

  div.owner-detail-container {
    p {
      text-align: left;
    }
    text-align: center;
    ion-button {
      font-size: 13px;
      height: 4rem;
      --color: #ffff;
      --border-color:  rgba(0,142,145,1);
    }
  }
}
