ion-col.title {
  text-align: center;
}
ion-item.inactive {
  color: rgba(0, 172, 180, 0.25)
}

ion-icon.heart {
  font-size: 34px;
  color: rgba(0,142,145,1);
  margin: 0;
  z-index: 1;
}

ion-badge.badge-heart {
position: absolute;
font-size: 10px;
top: 10px;
right: 12px;
color: #ffff;
background-color: rgb(234, 73, 3);
border-radius: 10px;
z-index: 2;
}
